@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background-blue-strong: #4946EA;
    --background-blue-weak: #312ED3;
    --background-gray: #575757;
    
    --snippet-alert: #FFE711;
    --snippet-urgent: #FE1515;
    --snippet-safe: #15FE2C;

    --text-blue-strong: #4946EA;
    --text-blue-weak: #312ED3;
    --text-blue-gray: #575757;

    --default-white: #fff;
}

body{
    font-family: Montserrat;
    background: var(--background-blue-strong);
    color: var(--default-white);
}
